{% extends "base.html" %}

{% block content %}

<p>[{{ section.title }}]</p>

{% if section.subsections %}
<ul>
    {% for subsection in section.subsections %}
    {% set section = get_section(path=subsection) %}
    <li><a href="{{ section.permalink | safe }}">{{ section.title }}</a></li>
    {% endfor %}
</ul>
{% else %}
{% if section.pages %}
<ul>
    {% for page in section.pages %}
    <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>Nothing here.</p>
{% endif %}
{% endif %}

{% endblock content %}