{% extends "base.html" %}

{% block content %}

<h1>[Sawyer Pollard]</h1>
<p>Emails: mail(at)swyr.net, sawyerpollard(at)proton.me</p>
<p>GPG key: 50CB 5CF6 65BB 30B0 4209 8FEB D70C 1462 0038 8DAE</p>
<p>URIs: swyr.net, saw.dog, sawyerpollard.com</p>
<p>Call sign: KD2WZH</p>
<p>Location: New York</p>
<br><br>
<h2>[bio]</h2>
<p>I am a designer and engineer, having built and launched several popular products. After beginning my formal education
    in physics, I cultivated a love for theoretical computer science and indie technology. I draw inspiration from my
    experience in systems design, experimental physics, language theory, geospatial computing, open-source principles, and the
    humanities.</p>
<br>
<p>I have completed engineering and research internships at IBM and the NSF-funded Ion Trap Lab. I have also contributed to the open-source Zotero project. Recently, my team won
    1st place at HackUMass 2023 out of 600 participants. I hold a degree in physics and computer science from Amherst
    College.</p>
<br><br>
<h2>[index]</h2>
<ul>
    <!--<li><a href="{{ get_url(path='@/writings/_index.md') }}">writings</a></li>-->
    <li><a href="{{ get_url(path='@/interests/general.md') }}">general interests</a></li>
    <li><a href="{{ get_url(path='@/interests/music.md') }}">music interests</a></li>
    <li><a href="{{ get_url(path='@/achievements/general.md') }}">general achievements</a></li>
    <li><a href="{{ get_url(path='@/achievements/computer.md') }}">computer achievements</a></li>
    <li><a href="{{ get_url(path='@/experience/work.md') }}">work experience</a></li>
</ul>
<br><br>
<h2>[links]</h2>
<p>GitHub: <a href="https://github.com/sawyerpollard">github.com/sawyerpollard</a></p>
<p>LinkedIn: <a href="https://www.linkedin.com/in/swyr/">linkedin.com/in/swyr</a></p>
<p>Spotify: <a href="https://open.spotify.com/user/archarinlive">open.spotify.com/user/archarinlive</a></p>

{% endblock content %}